*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
app/build/
app/release/
*.log
.navigation/
captures/
*.jks
*.keystore
google-services.json
.cxx/
*.hprof
sleep-desk-v0.2.0-debug.apk
